<img src="<%= @investor.image_path %>" />
<p>
  <strong>Username:</strong>
  <%= @investor.user_name %>
</p>
<p>
  <strong>Money:</strong>
  $<%= @investor.money %>
</p>
<p>
  <strong>Net worth:</strong> <i>$0</i>
</p>